body {
    background: #151515;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

button {
    display: flex;
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 60px;
    transition: .3s;
}

button span {
    margin-left: 10px;
    visibility: hidden;
    opacity: 0;
}

button:hover {
    width: 185px;
    transition: .3s;
    box-shadow: 5px 5px #828c94;
}

button:hover span {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}
button i {
    transition: .5s;
}

button:hover i {
    transform: rotate(360deg);
    transition: .8s;
}